{% extends 'base.html' %}
{% block title %}Contact{% endblock title%}
{% block body %}
<div class="container px-5 my-5">

    <h1 class="text-center">Contact Us</h1>
<form method="post" action="/contact_us">
{% csrf_token %}
<div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name"placeholder="Enter Your Name">
</div>
<div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" name="email"placeholder="Enter Your Email address">
</div>
<div class="mb-3">
    <label for="phone" class="form-label">Phone Number</label>
    <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
</div>
<div class="mb-3"> <label for="desc" class="form-label">Tell us More</label>
    <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock body %}